.app .app-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 10vh;
}

.app p {
  font-size: 4vh;
  padding-left: 10vh;
}

.app header a,
.app header a:visited,
.app header a:active,
.app header a:hover {
  color: white;
  text-decoration: none;
}

