.app a.sign-in {
  display: block;
  float: right;
  color: white;
}

.app p {
  font-size: 4vh;
  padding-left: 10vh;
}

.app header a,
.app header a:visited,
.app header a:active,
.app header a:hover {
  color: white;
  text-decoration: none;
}

